{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h2 class="mb-4">Verify OTP</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.purpose }}
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">OTP</label>
                        {{ form.otp }}
                    </div>
                    <button class="btn btn-primary w-100">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
